body {
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
  }
  
  .emojis {
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:15px 15px;
  }

  .emoji {
    border: 1px solid #222;
    border-radius: 8px;
    padding: 1rem;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
  }
  
  .emoji h2 {
    margin: 0;
    border-bottom: 2px solid #ccc;
  }
  
  .emoji a {
    text-decoration: none;
    background-color: #781BAA;
    color: white;
    padding: 1rem;
    border-radius: 8px;
    /* I lost marks because I didn't add either this option. I lost marks because the paragraph would go out of alignment in some cases. From the prof: "The buttons are aligning to the bottom of the card but NOT using flexbox property" */
    /* margin-top:auto; */
  }

  .emoji p {
    /* Or this option: */
    
    /* flex-grow: 1; */
  }
  
  .icon {
    font-size: 4rem;
    order: -1;
    align-self: center;
  }